{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal mt-5 pt-5">carpentry</h1>
        {{ form_start(form) }}
        <label for="">Caractéristiques des fenêtres. </label>
        {{ form_row(form.doors) }}
        <label for="">Caractéristiques des portes d'entrée.</label>
        {{ form_row(form.windows) }}
        {{ form_widget(form.submit, {'label': 'Crée le carpentry'}) }}
        {{ form_end(form) }}
    </div>

{% endblock %}