{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal mt-5 pt-5">Crée une remarque</h1>
        {{ form_start(form) }}
        <label for="">Votre titre</label>
        {{ form_row(form.title) }}
        <label for="">Content</label>
        {{ form_row(form.content) }}
        {{ form_widget(form.submit, {'label': 'Envoyer la remarque'}) }}
        {{ form_end(form) }}
    </div>


{% endblock %}