<!-- start footer -->
<div class="container-fluid py-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 m-0">
                <img src="{{ asset('/images/Logo-footer.png') }}" class="logoFooter"/>
                <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus nisi, semper non elit quis, feugiat laoreet urna. Sed blandit velit a elit hendrerit, at dapibus metus ultrices. Donec eget turpis fermentum, porta diam id, laoreet lacus. Mauris blandit euismod ante, at mollis massa laoreet non. Suspendisse potenti. Integer ac nisi suscipit, dictum orci id, lobortis ligula. Maecenas ac aliquam eros, in rutrum eros. Vivamus semper ipsum vel ultricies accumsan</p>
            </div>
            <div class="col-md-3 m-0">
                <h5>Navigation</h5>
                <ul class="pt-4">
                    <li>Accueil</li>
                    <li>A propos du RE2020</li>
                    <li>Tarifs</li>
                    <li>Actualités</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col-md-3 m-0 infos">
                <h5>Coordonnées</h5>
                <p class="pt-4"><img src="{{ asset('/images/map-marker.png') }}"> rue Exemple, 82000 Paris</p>
                <p><img src="{{ asset('/images/envelope-o.png') }}"> contact@re2020.fr</p>
                <p><img src="{{ asset('/images/phone.png') }}"> 05 00 00 00 00</p>
                <p><img src="{{ asset('/images/mobile.png') }}"> 05 00 00 00 00</p>
                <p><img src="{{ asset('/images/fax.png') }}"> 06 00 00 00 00</p>
            </div>
            <div class="col-md-2 m-0">
                <h5>Liens utiles</h5>
                <ul class="pt-3">
                    <li>Conditions générales de ventes</li>
                    <li><a href="{{ path('confidentPage') }}">Politique de confidentialité</a></li>
                    <li><a href="{{ path('faqPage') }}">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Bottom bar Footer-->
<div class="container-fluid pt-2 bottomBar">
    <div class="row">
        <div col-md-12>
            <p>Tous droits réservés - 2022 - MAISON ETECH</p>
        </div>
    </div>
 </div>

<!-- End footer -->